<div class="header">
    <a href="{{pathPrefix}}" aria-label="Neuron Home">
        {{> icon_logo}}
    </a>
    
    {{#if (eq session.identity.schema_id "admin")}}
    <a href="{{pathPrefix}}network" aria-label="Network Tab">
        Network
    </a>
    <a target="_blank" href="http://13.56.195.120:3000/d-solo/pKbxF0Wnz/stats_d?orgId=1&from=1627153738440&to=1627175338440&panelId=2" aria-label="Metrics">
        Metrics
    </a>
    {{/if}}
    <div class="icon-actions">
        <div class="settings">
            <a href="{{pathPrefix}}settings" aria-label="Settings">
                {{> icon_gear}}
            </a>
        </div>
        <div class="logout">
            <a href="{{logoutUrl}}" aria-label="Logout">
                {{> icon_sign_out}}
            </a>
        </div>
        <!--div class="fork">
            <a href="https://github.com/ory/kratos-selfservice-ui-node" target="_blank">
                {{> icon_repo_forked}}
                <div>Fork on<br>GitHub</div>
            </a>
        </div-->
    </div>
</div>
