<!DOCTYPE html>
<html lang="en">
<head>
    {{#if baseUrl}}
    <base href="{{baseUrl}}"/>
    {{/if}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#5a5b6c">
    <meta name="description" content="Neuron - A faster VPN connection">
    <title>{{projectName}}</title>
    <link rel="shortcut icon" href="icons/favicon.ico">
    <link rel="manifest" href="manifest.json">
    <link defer rel="stylesheet" href="styles/dashboard.css">
    <link defer rel="stylesheet" href="styles/index.css">
    <link defer rel="stylesheet" href="styles/typography.css">
    <link defer rel="stylesheet" href="styles/form.css">
    <link defer rel="stylesheet" href="styles/auth.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
    <script src="code/register-service-worker.js"></script>
    <script defer src="code/pwa-download-button.js"></script>
    <script defer src="code/geolocation-service.js"></script>
    <script defer src="code/copy-pac-url-to-clipboard.js"></script>
</head>
<body>

{{{body}}}

</body>
</html>
