<!DOCTYPE html>
<html lang="en">
<head>
    {{#if baseUrl}}
    <base href="{{baseUrl}}"/>
    {{/if}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#5a5b6c">
    <meta name="description" content="Neuron - A faster VPN connection">
    <title>{{projectName}}</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <!--link rel="manifest" href="manifest.json"-->
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/typography.css">
    <link rel="stylesheet" href="styles/form.css">
    <link rel="stylesheet" href="styles/auth.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="code/register-service-worker.js"></script>
    <!-- All per page css and script will be dynamically injected by following -->
    {{{block 'layout-partial-hook'}}} 
</head>
<body>

{{{body}}}

</body>
</html>
