<!DOCTYPE html>
<html lang="en">
<head>
    {{#if baseUrl}}
    <base href="{{baseUrl}}"/>
    {{/if}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#5a5b6c">
    <meta name="description" content="Neuron - A faster VPN connection">
    <title>{{projectName}}</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="manifest" href="manifest.json">
    <script src="code/pwa-download-button.js"></script>
    <script>
        async function registerSW () {
            if ('serviceWorker' in navigator) {
                try {
                    navigator.serviceWorker.register('service-worker.js', { scope: '/' }).then(function (reg) {
                        console.log(reg.scope)
                    });
                } catch (e) {
                    console.log('ServiceWorker registration failed. Sorry about that.');
                }
            }
        }

        registerSW ();
    </script>
</head>
<body>

{{{body}}}

</body>
<footer>
    <link rel="stylesheet" href="styles/dashboard.css">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/typography.css">
    <link rel="stylesheet" href="styles/form.css">
    <link rel="stylesheet" href="styles/auth.css">
</footer>
</html>
