<div class="content">
    {{> header}}
    <div class="page-container">
        <div id="welcome" class="card padding-bottom margin-bottom">
            <h1 class="greeting">Welcome, {{session.identity.traits.email}}!</h1>
            <h4 class="short-margin text-center">Allowing geolocation can improve performance but isn't necessary
                <br>
                Step 0: Here is your .pac file URL
            </h4>
            <div id="copy-container" class="short-margin">
                <div id="copy" onclick="copy()"><span id="copy-span">https://{{url}}/pac/{{session.identity.id}}.pac</span><img id="copy-image" src="images/copy.svg" alt=""></div>
                <div id="copied">Copied!</div>
            </div>
            <a href="/instructions">See Instructions</a>
            <a href="rdp:///domain=s:pi.cerebralsystems.io&audiomode=i:2&disable%20themes=i:1">Launch RDP</a>
        </div>
        <div class="card padding margin flex justify">
            <button id="download-button" onclick="PWA()">Download this page as PWA<br>(this button should not be rendered in PWA)</button>
        </div>
    </div>
    <footer>
        <script defer src="code/geolocation-service.js"></script>
        <script defer src="code/copy-pac-url-to-clipboard.js"></script>
    </footer>
</div>
