<div class="content">
    {{> header}}
    <div class="page-container">
        <div id="welcome" class="card padding-bottom padding-sides margin-bottom margin-sides">
            <h1 class="greeting">Welcome, {{session.identity.traits.email}}!</h1>
            <h4 class="thin-margin text-center">Allowing geolocation can improve performance but isn't necessary
                <br>
                Step 0: Here is your .pac file URL
            </h4>
            <div id="copy-container" class="thin-margin">
                <div id="copy" onclick="copy()"><span id="copy-span">https://{{url}}/pac/{{session.identity.id}}.pac</span><img id="copy-image" src="images/copy.svg" alt=""></div>
                <div id="copied">Copied!</div>
            </div>
            <a href="/instructions">See Instructions</a>
            <a href="rdp:///domain=s:pi.cerebralsystems.io&audiomode=i:2&disable%20themes=i:1">Launch RDP</a>
        </div>
        <div class="card padding margin text-center">
            <button id="download-button" onclick="PWA()">Download this page as PWA<br>(this button should not be rendered in PWA)</button>
            <div class="padding flex justify-space-between">
                <div class="app-container card padding flex-col justify align-items">
                    <div class="img-container padding flex justify align-items">
                        <img src="icons/desktop.png" alt="">
                    </div>
                    <p class="no-margin">desktop</p>
                </div>
                <div class="app-container card padding flex-col justify align-items">
                    <div class="img-container padding flex justify align-items">
                        <img src="icons/dropbox-brands.png" alt="">
                    </div>
                    <p class="no-margin">dropbox</p>
                </div>
                <div class="app-container card padding flex-col justify align-items">
                    <div class="img-container padding flex justify align-items">
                        <img src="icons/microsoft.png" alt="">
                    </div>
                    <p class="no-margin">microsoft</p>
                </div>
                <div class="app-container card padding flex-col justify align-items">
                    <div class="img-container padding flex justify align-items">
                        <img src="icons/salesforce.png" alt="">
                    </div>
                    <p class="no-margin">salesforce</p>
                </div>
                <div class="app-container card padding flex-col justify align-items">
                    <div class="img-container padding flex justify align-items">
                        <img src="icons/slack.png" alt="">
                    </div>
                    <p class="no-margin">slack</p>
                </div>
            </div>
        </div>
    </div>
</div>
