<script src="code/pwa-download-button.js"></script>
<script defer src="code/geolocation-service.js"></script>
<script defer src="code/copy-pac-url-to-clipboard.js"></script>

<div class="content">
    {{> header}}
    <div class="page-container">
        <div id="welcome" class="card padding-bottom padding-sides margin-bottom margin-sides">
            <h1 class="greeting">Welcome, {{session.identity.traits.email}}!</h1>
            <h4 class="thin-margin text-center">Allowing geolocation can improve performance but isn't necessary
                <br>
                Step 0: Here is your .pac file URL
            </h4>
            <div id="copy-container" class="thin-margin">
                <div id="copy" onclick="copy()"><span id="copy-span">https://{{url}}/pac/{{session.identity.id}}.pac</span><img id="copy-image" src="images/copy.svg" alt=""></div>
                <div id="copied">Copied!</div>
            </div>
            <a href="/instructions">See Instructions</a>
            <a href="rdp:///domain=s:pi.cerebralsystems.io&audiomode=i:2&disable%20themes=i:1">Launch RDP</a>
            <!--button id="download-button" onclick="PWA()">Download this page as PWA<br>(this button should not be rendered in PWA)</button-->
        </div>
        <div class="card padding margin text-center">
            <div id="copy-container" class="thin-margin">
                <div id="copy" onclick="copy()"><span id="copy-span">vdi.pi.cerebralsystems.io</span><img id="copy-image" src="images/copy.svg" alt=""></div>
                <div id="copied">Copied!</div>
            </div>
            <div class="padding flex-wrap justify-space-between">
                <div id="app-container" class="card padding flex-col justify-space-between align-items">
                    <a href="https://www.skype.com/en/" target="_blank">
                        <object class="svg-icon" type="image/svg+xml" data="icons/skype.svg"></object>
                    </a>
                    <p class="no-margin">skype</p>
                </div>
                <div id="app-container" class="card padding flex-col justify-space-between align-items">
                    <a href="https://www.github.com" target="_blank">
                        <object class="svg-icon" type="image/svg+xml" data="icons/salesforce.svg"></object>
                    </a>
                    <p class="no-margin">salesforce</p>
                </div>
                <div id="app-container" class="card padding flex-col justify-space-between align-items">
                    <a href="https://www.github.com" target="_blank">
                        <object class="svg-icon" type="image/svg+xml" data="icons/github.svg"></object>
                    </a>
                    <p class="no-margin">github</p>
                </div>
                <div id="app-container" class="card padding flex-col justify-space-between align-items">
                    <a href="https://www.gitlab.com" target="_blank">
                        <object class="svg-icon" type="image/svg+xml" data="icons/gitlab.svg"></object>
                    </a>
                    <p class="no-margin">gitlab</p>
                </div>
                <div id="app-container" class="card padding flex-col justify-space-between align-items">
                    <a href="https://hub.docker.com/" target="_blank">
                        <object class="svg-icon" type="image/svg+xml" data="icons/docker.svg"></object>
                    </a>
                    <p class="no-margin">docker</p>
                </div>
                <div id="app-container" class="card padding flex-col justify-space-between align-items">
                    <a href="https://www.dropbox.com/" target="_blank">
                        <object class="svg-icon" type="image/svg+xml" data="icons/dropbox.svg"></object>
                    </a>
                    <p class="no-margin">dropbox</p>
                </div>
                <div id="app-container" class="card padding flex-col justify-space-between align-items">
                    <a href="https://www.jenkins.io/" target="_blank">
                        <object class="svg-icon" type="image/svg+xml" data="icons/jenkins.svg"></object>
                    </a>
                    <p class="no-margin">jenkins</p>
                </div>
                <div id="app-container" class="card padding flex-col justify-space-between align-items">
                    <a href="https://www.npmjs.com/" target="_blank">
                    <object class="svg-icon" type="image/svg+xml" data="icons/npm.svg"></object>
                    </a>
                    <p class="no-margin">npm</p>
                </div>
            </div>
        </div>
    </div>
</div>
