<div class="content">
    <header>
        <link rel="stylesheet" href="styles/dashboard.css" ></link>
    </header>
    {{> header}}
    <div class="page-container">
        <div id="welcome" class="card padding margin">
            Tenant Admin KPI's and Links
        </div>
        <div class="flex">
            <div class="card padding margin">
                
            </div>
        </div>
    </div>
    <footer>
    </footer>
</div>
