<div class="content">
    <header>
        <link rel="stylesheet" href="styles/dashboard.css" ></link>
    </header>
    {{> header}}
    <div class="page-container">
        <div id="welcome" class="card padding margin">
            Admin
        </div>
        <div class="flex">
            <div class="card padding margin">
                
            </div>
        </div>
    </div>
    <footer>
        <script src="code/geolocation-service.js"></script>
        <script src="code/copy-pac-url-to-clipboard.js"></script>
    </footer>
</div>
