<div class="content">
    <header>
        <link rel="stylesheet" href="styles/dashboard.css" ></link>
    </header>
    {{> header}}
    <div class="page-container">
        <div id="welcome" class="card padding margin">
            <h1 class="greeting">Welcome, <span class="user-identifier">{{session.identity.traits.email}}</span>!</h1>
            <h4 class="short-margin">Allowing geolocation can improve performance but isn't necessary</h4>
            <h4 class="short-margin">Step 0: please copy your .pac file URL</h4>
            <div id="copy-container" class="short-margin">
                <div id="copy" onclick="copy()">https://{{url}}/pac/{{session.identity.id}}.pac<img id="copy-image" src="images/copy.svg" alt=""></div>
                <div id="copied">Copied!</div>
            </div>
        </div>
        <div class="flex">
            <div class="card padding margin">
                <h2>
                    Mac:
                </h2>
                <ol>
                    <li>
                        Go to System Preferences

                    </li>
                </ol>
                <div><img class="instruction-image mac-image" src="images/Mac-step-1.jpg" alt=""></div>
                <ol start="2">
                    <li>
                        Go to Network Settings
                    </li>
                </ol>
                <div><img class="instruction-image mac-image" src="images/Mac-step-2.jpg" alt=""></div>
                <ol start="3">
                    <li>
                        Click on advanced
                    </li>
                </ol>
                <div><img class="instruction-image mac-image" src="images/Mac-step-3.jpg" alt=""></div>
                <ol start="4">
                    <li>
                        Go to the Proxies tab
                    </li>
                    <li>
                        Click on Automatic Proxy Configuration
                    </li>
                    <li>
                        Paste your .pac file URL into the URL field
                    </li>
                </ol>
                <div><img class="instruction-image mac-image" src="images/Mac-steps-456.jpg" alt=""></div>
            </div>
            <div class="card padding margin">
                <h2>
                    Windows:
                </h2>
                <ol>
                    <li>
                        Open Settings
                    </li>
                    <li>
                        Click Network & Internet
                    </li>
                </ol>
                <div><img class="instruction-image windows-image" src="images/Windows-10-steps-12.jpg" alt=""></div>
                <ol start="3">
                    <li>
                        Click Proxy
                    </li>
                    <li>
                        In the Automatic Proxy Setup section, set the Use Setup Script switch to On.
                    </li>
                    <li>
                        Paste your .pac file URL into the script address field
                    </li>
                </ol>
                <div><img class="instruction-image windows-image" src="images/Windows-10-steps-3456.jpg" alt=""></div>
                <ol start="6">
                    <li>
                        Don't forget to Save
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <footer>
        <script src="code/geolocation-service.js"></script>
        <script src="code/copy-pac-url-to-clipboard.js"></script>
    </footer>
</div>
