<div class="content">
    {{> header}}
    <div class="page-container">
        <div class="card padding margin">
            <h4 class="text-center">Step 0: Here is your .pac file URL</h4>
            <div id="copy-container" class="thin-margin" style="display:absolute">
                <div id="copy" onclick="copy('pac-span', 'pac-copied')"><span id="pac-span">https://{{url}}/pac/{{session.identity.id}}.pac</span><img id="copy-image" src="images/copy.svg" alt=""></div>
                <div id="pac-copied" class="copied">Copied!</div>
            </div>
        </div>
        <div class="flex-wrap">
            <div class="card padding margin">
                <h2>
                    Mac:
                </h2>
                <ol>
                    <li>
                        Go to System Preferences
                    </li>
                </ol>
                <div><img class="instruction-image mac-image" src="images/Mac-step-1.jpg" alt=""></div>
                <ol start="2">
                    <li>
                        Go to Network Settings
                    </li>
                </ol>
                <div><img class="instruction-image mac-image" src="images/Mac-step-2.jpg" alt=""></div>
                <ol start="3">
                    <li>
                        Click on advanced
                    </li>
                </ol>
                <div><img class="instruction-image mac-image" src="images/Mac-step-3.jpg" alt=""></div>
                <ol start="4">
                    <li>
                        Go to the Proxies tab
                    </li>
                    <li>
                        Click on Automatic Proxy Configuration
                    </li>
                    <li>
                        Paste your .pac file URL into the URL field
                    </li>
                </ol>
                <div><img class="instruction-image mac-image" src="images/Mac-steps-456.jpg" alt=""></div>
            </div>
            <div class="card padding margin">
                <h2>
                    Windows:
                </h2>
                <ol>
                    <li>
                        Open Settings
                    </li>
                    <li>
                        Click Network & Internet
                    </li>
                </ol>
                <div><img class="instruction-image windows-image" src="images/Windows-10-steps-12.jpg" alt=""></div>
                <ol start="3">
                    <li>
                        Click Proxy
                    </li>
                    <li>
                        In the Automatic Proxy Setup section, set the Use Setup Script switch to On.
                    </li>
                    <li>
                        Paste your .pac file URL into the script address field
                    </li>
                </ol>
                <div><img class="instruction-image windows-image" src="images/Windows-10-steps-3456.jpg" alt=""></div>
                <ol start="6">
                    <li>
                        Don't forget to Save
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
