<div class="auth">
    <div class="page-container card" id="login">
        <div class="logo-wrapper">
            {{> icon_logo}}
        </div>
        <h5 id="subheading" class="subheading">Please login into your account</h5>

        {{> messages messages=messages className="global"}}

        <div id="ui">
            {{> ui ui=ui}}
        </div>

        <hr class="divider">

        <div class="alternative-actions">
            <!-- <a href="auth/registration">Recover password</a> -->
            <!--a href="{{pathPrefix}}auth/registration">Register new account</a-->
            <a href="{{pathPrefix}}recovery">Reset password</a>
        </div>
    </div>
    <link rel="stylesheet" href="styles/login.css">
</div>
