{{#extend "layout-partial-hook"}}
  <link rel="stylesheet" href="styles/network.css" ></link>
  <script defer src="code/network.js"></script>
{{/extend}}

<div class="content">
  {{> header}}
  <div class="page-container" id="settings">
    <!--h2>Network</h2-->      
      {{> world}}
      <svg viewBox="0 0 200 100" id="svgRoot" class="svg animated"><g>
        <!--/line class="path" stroke="gray" id="caw-sin" x1="14" y1="30" x2="157" y2="55"/>
        <line class="path" stroke="gray" id="sin-mum" x1="157" y1="55" x2="137" y2="45"  /-->

        <text id="timeStamp" class="marker" x="84" y="88">timeStamp</text>>
        <g id="legend">
          <text class="marker" x="5" y="60" r=".5">Bigger is Better</text>
          <circle cx="6" cy="63" class="bubble" stroke="var(--green-strong)" r="1.6"/>
          <text class="marker" x="8" y="64" r=".5">Neuron</text>
          <circle cx="6" cy="67" class="bubble" stroke="var(--base-white)" r="1.3" />
          <text class="marker" x="8" y="68" r=".5">Internet</text>
          <circle cx="6 " cy="71" class="bubble" stroke="var(--red-strong)" r="1" />
          <text class="marker" x="8" y="72" r=".5">VPN</text>
        </g>
        
        <g id="dynaElems"/>
        <g id="user" class="user">
          <rect x="-242.62599" y="112.119" width="71.390999" height="85.797997" id="rect2" transform="scale(-1,1)" />
          <rect x="-171.782" y="123.773" width="79.581001" height="28.068001" id="rect4" transform="scale(-1,1)" />
          <rect x="-154.573" y="175.80099" width="125.752" height="15.59" id="rect6"transform="scale(-1,1)" />
          <circle cx="-180.50699" cy="35.944" r="35.944" id="circle8" transform="scale(-1,1)" />
          <circle cx="-92.545998" cy="137.735" r="13.999" id="circle10" transform="scale(-1,1)" />
          <circle cx="-154.30399" cy="183.55901" r="7.75" id="circle12" transform="scale(-1,1)" />
          <rect x="-134.77299" y="158.315" width="100.838" height="11.484874" id="rect14" transform="scale(-1,1)" />
          <rect x="-40.72599" y="186.606" width="11.976" height="11.38" id="rect16" transform="scale(-1,1)" />
          <path d="M 29.588993,166.593 0.57599337,83.968 11.312993,80.197 l 29.013,82.625 z" id="path18" />
          <circle cx="-134.53999" cy="163.996" r="5.6830001" id="circle20" transform="scale(-1,1)" />
          <circle cx="-5.7340002" cy="81.429001" r="5.7340002" id="circle22" transform="scale(-1,1)" />
          <circle cx="-34.012001" cy="165.01801" r="4.77" id="circle24" transform="scale(-1,1)" />
          <ellipse cx="-207.00699" cy="111.141" rx="35.794998" ry="35.944" id="ellipse26" transform="scale(-1,1)" />
        </g>
        <g>            
          <circle cx="138" cy="44" fill="var(--base-white)" r=".5"/>
          <text class="marker" x="139" y="45" fill="var(--base-white)" r=".5">Jio</text>

          <circle cx="140" cy="48" fill="var(--base-white)" r=".5"/>
          <text class="marker" x="141" y="49" fill="var(--base-white)" r=".5">Flipkart</text>
          
          <circle id="ca-west" class="pop fpop" cx="14" cy="30"/>
          <text class="marker" x="9" y="28">CA West</text>

          <circle id="sin" class="pop mpop" cx="157" cy="55"/>
          <text class="marker" x="153" y="58">Singapore</text>

          <circle id="mum" class="pop lpop" cx="137" cy="45"/>
          <text class="marker" x="132" y="48">Mumbai</text>

          <circle id="lon" class="pop mpop" cx="89" cy="20"/>
          <text class="marker" x="86" y="18">London</text>
        </g>
        </g>
      </svg>
      <input id="slider" onchange="onSliderChange(event)"  class="slider" type="range" min="0" max="10" value="5" step="1"/>
      <button id="playPauseBtn" onclick="onPlayPause(event)" class="dropbtn playPause">Play</button>
      <div class="dropdown">
        <button onclick="onDropdownClick()" class="dropbtn">Routes</button>
        <div id="testsDropdown" class="dropdown-content"/>
      </div>
  </div>
</div>
