.page-container {
	padding: 12px 20px;
}

.content .header {
	background-color: rgb(46, 46, 46);
}

.instruction-image {
	max-width: 100%;
}

.windows-image {
	border: 1px solid black;
}

#welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#copy-container {
	position: relative;
	display: flex;
}

#copy {
	position: relative;
	width: 100%;
	cursor: pointer;
	background-color: #ffffff;
	border: none;
	color: #6c6c6c;
	font-size: 14px;
	border-radius: 5px;
	padding: 15px 45px 15px 15px;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 2px 3px 10px black;
	-moz-box-shadow: 2px 3px 10px black;
	-webkit-box-shadow: 2px 3px 10px black;
}

#copy-image {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	max-height: 18px;
	max-width: 18px;
}

#copy:focus {
	outline: none;
}

.copied {
	display: none;
	position: absolute;
	transform: translateX(-50%);
	top: 110%;
	left: 50%;
	background: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 8px;
	font-size: 20px;
}

#download-button {
	background-color: blue;
	color: white;
	min-height: 20px;
}

#app-container {
	margin: 4px;
	max-width: calc(20% - 24px);
	padding-bottom: 16px;
}

#app-container > p {
	font-size: 11px;
}

#app-container > a > i {
	font-size: 72px;
	color: var(--primary-main);
}

#app-container:hover {
	background-color: var(--base-main);
}

.icon {
	height: 100%;
	width: 100%;
	pointer-events: none;
}
