.page-container {
  padding: 12px 20px;
}

.content .header {
  background-color: rgb(46, 46, 46);
}

.instruction-image {
  max-width: 100%;
}

.windows-image {
  border: 1px solid black;
}

h2.underline {
  text-decoration: underline;
  margin: 0;
}

div.flex {
  display: flex;
  flex-direction: row;
}

div.flex > div {
  flex: 1 1 0;
}
